# Leer texto

In [2]:
import numpy as np

In [5]:
path = './data/salarios.csv'
arreglo_salarios = np.genfromtxt(path, delimiter=',')

In [6]:
arreglo_salarios

array([[200., 250., 300., 350., 450., 500., 105., 261., 321., 156., 845.],
       [200., 250., 300., 350., 450., 500., 105., 261., 321., 156., 845.],
       [200., 250., 300., 350., 450., 500., 105., 261., 321., 156., 845.],
       [200., 250., 300., 350., 450., 500., 105., 261., 321., 156., 845.],
       [200., 250., 300., 350., 450., 500., 105., 261., 321., 156., 845.],
       [200., 250., 300., 350., 450., 500., 105., 261., 321., 156., 845.],
       [200., 250., 300., 350., 450., 500., 105., 261., 321., 156., 845.],
       [200., 250., 300., 350., 450., 500., 105., 261., 321., 156., 845.]])

In [7]:
arreglo_salarios.shape

(8, 11)

In [9]:
arreglo_salarios = arreglo_salarios * 1.1
arreglo_salarios

array([[220. , 275. , 330. , 385. , 495. , 550. , 115.5, 287.1, 353.1,
        171.6, 929.5],
       [220. , 275. , 330. , 385. , 495. , 550. , 115.5, 287.1, 353.1,
        171.6, 929.5],
       [220. , 275. , 330. , 385. , 495. , 550. , 115.5, 287.1, 353.1,
        171.6, 929.5],
       [220. , 275. , 330. , 385. , 495. , 550. , 115.5, 287.1, 353.1,
        171.6, 929.5],
       [220. , 275. , 330. , 385. , 495. , 550. , 115.5, 287.1, 353.1,
        171.6, 929.5],
       [220. , 275. , 330. , 385. , 495. , 550. , 115.5, 287.1, 353.1,
        171.6, 929.5],
       [220. , 275. , 330. , 385. , 495. , 550. , 115.5, 287.1, 353.1,
        171.6, 929.5],
       [220. , 275. , 330. , 385. , 495. , 550. , 115.5, 287.1, 353.1,
        171.6, 929.5]])

In [15]:
np.savetxt(path, arreglo_salarios, delimiter=',', fmt='%4d')