# Titulo
## Titulo 2
| Tables        | Are           | Cool  |
| ------------- |:-------------:| -----:|
| col 3 is      | right-aligned | $1600 |
| col 2 is      | centered      |   $12 |
| zebra stripes | are neat      |    $1 |

In [1]:
print('Hola Mundo')

Hola Mundo

In [2]:
nombre = 'Miguel'

In [3]:
nombre

'Miguel'

In [4]:
nombre = 'Miguel'
nombre

'Miguel'

In [6]:
edad = 22
edad

22

In [7]:
sueldo = 1.026
sueldo

1.026

In [9]:
# Comentario de python
edad_str = '22'
sumar = int(edad_str) + edad
sumar

44

In [10]:

type(sumar)

int

In [11]:
"""
asdasdasdsaa
asdasdasdsd
comentario de muchos parrafos
"""

'\nasdasdasdsaa\nasdasdasdsd\ncomentario de muchos parrafos\n'

In [12]:
parrafo = """
Este es un parrafo
en python
"""

In [13]:
nombre_completo = 'Miguel Esteban Alvarez Naranjo'

In [14]:
nombre_completo.split(' ')

['Miguel', 'Esteban', 'Alvarez', 'Naranjo']

In [15]:
nombre_completo.isalpha()

False

In [16]:
print(f"Me gustan los tacos a mi {nombre_completo}")

Me gustan los tacos a mi Miguel Esteban Alvarez Naranjo