# LOOPS

In [1]:
lista_numeros = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for numero in lista_numeros:
    print(numero)

1
2
3
4
5
6
7
8
9
10

In [4]:
rango1 = range(1,5)

In [5]:
type(rango1)

range

In [6]:
for numero in range(10):
    if(numero == 4 or numero == 8):
        continue
    print(f"indice: {numero}")

indice: 0
indice: 1
indice: 2
indice: 3
indice: 5
indice: 6
indice: 7
indice: 9

In [9]:
for numero in range(10):
    if(numero == 4):
        break
    print(f"indice: {numero}")

indice: 0
indice: 1
indice: 2
indice: 3

In [16]:
numeroAuxiliar = 0
while numeroAuxiliar < 10:
    print(f"Numero auxiliar:{numeroAuxiliar}")
    numeroAuxiliar += 1

Numero auxiliar:0
Numero auxiliar:1
Numero auxiliar:2
Numero auxiliar:3
Numero auxiliar:4
Numero auxiliar:5
Numero auxiliar:6
Numero auxiliar:7
Numero auxiliar:8
Numero auxiliar:9

# DICCIONARIOS

In [4]:
# JSON -> Diccionario
Isssac = 'Issac'
miguel = {
    'nombre': 'Miguel',
    'apellido': 'Alvarez',
    'edad': '22',
    'hijos': None,
    'issac': Isssac,
    'casado': False,
    'sueldo': 12.2,
    'mascotas': [
        {
            'nombre': 'Nikita',
            'edad': 5
        }
    ],
    "carro": (0,1,2)
    
}

In [5]:
miguel['nombre'] #para poder acceder al  diccionario se utiliza el string

'Miguel'

In [20]:
miguel['mascotas']

[{'nombre': 'Nikita', 'edad': 5}]

In [21]:
miguel['mascotas'][0]

{'nombre': 'Nikita', 'edad': 5}

In [22]:
miguel['mascotas'][0]['nombre']

'Nikita'

In [23]:
miguel.get('nombre')

'Miguel'

In [24]:
miguel

{'nombre': 'Miguel',
 'apellido': 'Alvarez',
 'edad': '22',
 'hijos': None,
 'issac': 'Issac',
 'casado': False,
 'sueldo': 12.2,
 'mascotas': [{'nombre': 'Nikita', 'edad': 5}],
 'carro': (0, 1, 2)}

In [25]:
miguel.pop('issac')

'Issac'

In [26]:
miguel

{'nombre': 'Miguel',
 'apellido': 'Alvarez',
 'edad': '22',
 'hijos': None,
 'casado': False,
 'sueldo': 12.2,
 'mascotas': [{'nombre': 'Nikita', 'edad': 5}],
 'carro': (0, 1, 2)}

In [27]:
miguel.values()

dict_values(['Miguel', 'Alvarez', '22', None, False, 12.2, [{'nombre': 'Nikita', 'edad': 5}], (0, 1, 2)])

In [28]:
miguel.keys()

dict_keys(['nombre', 'apellido', 'edad', 'hijos', 'casado', 'sueldo', 'mascotas', 'carro'])

In [29]:
type(miguel.values())

dict_values

In [30]:
type(miguel.keys())

dict_keys

In [31]:
for key in miguel.keys():
    print(f"Llave: {key} Valor: {miguel[key]}")

Llave: nombre Valor: Miguel
Llave: apellido Valor: Alvarez
Llave: edad Valor: 22
Llave: hijos Valor: None
Llave: casado Valor: False
Llave: sueldo Valor: 12.2
Llave: mascotas Valor: [{'nombre': 'Nikita', 'edad': 5}]
Llave: carro Valor: (0, 1, 2)

In [34]:
miguel['issac'] = Isssac

In [35]:
miguel

{'nombre': 'Miguel',
 'apellido': 'Alvarez',
 'edad': '22',
 'hijos': None,
 'casado': False,
 'sueldo': 12.2,
 'mascotas': [{'nombre': 'Nikita', 'edad': 5}],
 'carro': (0, 1, 2),
 'issac': 'Issac'}

In [36]:
valores_nuevos = {
    'talia': 'Talia',
    'rafico': 'Rafico',
    'lula': 'Lula'
}

In [37]:
miguel.update(valores_nuevos)

In [44]:
miguel

{'nombre': 'Miguel',
 'apellido': 'Alvarez',
 'edad': '22',
 'hijos': None,
 'casado': False,
 'sueldo': 12.2,
 'mascotas': [{'nombre': 'Nikita',
   'edad': 5,
   'talia': 'Talia',
   'rafico': 'Rafico',
   'lula': 'Lula'}],
 'carro': (0, 1, 2),
 'issac': 'Issac',
 'talia': 'Talia',
 'rafico': 'Rafico',
 'lula': 'Lula'}

In [46]:
miguel.get('mascotas')[0].update(valores_nuevos)

In [42]:
miguel

{'nombre': 'Miguel',
 'apellido': 'Alvarez',
 'edad': '22',
 'hijos': None,
 'casado': False,
 'sueldo': 12.2,
 'mascotas': [{'nombre': 'Nikita',
   'edad': 5,
   'talia': 'Talia',
   'rafico': 'Rafico',
   'lula': 'Lula'}],
 'carro': (0, 1, 2),
 'issac': 'Issac',
 'talia': 'Talia',
 'rafico': 'Rafico',
 'lula': 'Lula'}

In [48]:
miguel.get('asd')

In [51]:
# miguel['asd'] -> Error